################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cont_API/.vs/Cont_API/FileContentIndex/a7709d2b-0ff3-413b-a1c7-908c9212824b.vsidx
